<span style="font-family: Arial; font-weight:bold;font-size:1em;color:#f0f0f0;">..............................................
    <span style="font-family: Arial; font-weight:bold;font-size:3.2em;color:#c7920e;">NPV EXAM FOR 70 MARKS

-------------

# 4 Questions X  5 Marks = 20 Marks

---------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">1. Read the dataset(matches.csv) and Answer below questions

   1. Display the no.of matches played in the dataset?
   2. What percentages of match are won by the toss winners?
   3. Who won the final match and also which two teams reached the finals match?
   4. Create a dataframe of the team who have won the match after winning toss?
   5. What percentage of matches are won after selecting from the toss_decision as a field?

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
pd.set_option('display.max_rows', 1000)

In [ ]:
matches = pd.read_csv('matches.csv')

In [4]:
matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
matches.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
631,632,2016,Raipur,2016-05-22,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,2016-05-24,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,2016-05-25,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,2016-05-27,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,2016-05-29,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [5]:
matches.shape

(636, 18)

####  1. Display the no.of matches played in the dataset?

In [8]:
print('Number of matched played in dataset is --',matches.shape[0])

Number of matched played in dataset is -- 636

#### 2.What percentages of match are won by the toss winners?

In [39]:
won_toss_match_percentage = 100*matches[matches['toss_winner'] == matches['winner']]['winner'].count()/matches.shape[0]

In [40]:
print('Percentage of matches won by toss winner are -- ', won_toss_match_percentage,'%')

Percentage of matches won by toss winner are --  51.100628930817614 %

#### 3.Who won the final match and also which two teams reached the finals match?

In [67]:
print('Final match is won by --- ',matches.iloc[635:,:]['winner'])

Final match is won by ---  635    Sunrisers Hyderabad
Name: winner, dtype: object

In [65]:
print('Final teams are --- ',matches.iloc[635:,:]['team1'],matches.iloc[635:,:]['team2'])

Final teams are ---  635    Sunrisers Hyderabad
Name: team1, dtype: object 635    Royal Challengers Bangalore
Name: team2, dtype: object

#### 4. Create a dataframe of the team who have won the match after winning toss?

In [71]:
match_won_after_toss = matches[matches['toss_winner'] == matches['winner']]

In [72]:
match_won_after_toss.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN

#### 5. What percentage of matches are won after selecting from the toss_decision as a field?

In [78]:
100*match_won_after_toss[(match_won_after_toss['toss_decision'] == 'field')]['toss_decision'].count()/matches.shape[0]

31.60377358490566

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">2. Read the dataset(911.csv) and Answer below questions

   1. Find the Top most zipcodes and townships (twp) for 911 calls?
   2. There are EMS, Fire, and TrafficMake you need to separate column to create a new column called "Reason" and understand our data more?
   3. What are the most common Reason for a 911 call ?
   4. Change the timeStamp from strings to DateTime objects and also grab specific attributes(For example: Hour, Month and Day of the Week) from a Datetime object.
   5. Restructure the dataframe so that the columns become the Hours and the Index becomes the Day of the Week?

In [79]:
df_911 = pd.read_csv('911.csv')

In [86]:
df_911.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [82]:
df_911.tail()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
423904,40.139993,-75.049864,BUCK RD & WOODWARD DR; LOWER MORELAND; 2018-11...,19006.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:54:08,LOWER MORELAND,BUCK RD & WOODWARD DR,1
423905,40.270121,-75.382825,OAK DR & MOYER RD; LOWER SALFORD; 2018-11-16 @...,19438.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:53:32,LOWER SALFORD,OAK DR & MOYER RD,1
423906,40.270121,-75.382825,OAK DR & MOYER RD; LOWER SALFORD; 2018-11-16 @...,19438.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:54:19,LOWER SALFORD,OAK DR & MOYER RD,1
423907,40.190946,-75.237285,SUMNEYTOWN PIKE & WELLINGTON DR; LOWER GWYNEDD...,19002.0,Traffic: VEHICLE ACCIDENT -,2018-11-16 08:51:48,LOWER GWYNEDD,SUMNEYTOWN PIKE & WELLINGTON DR,1
423908,40.155164,-75.264665,HOFFMAN ; LOWER GWYNEDD; 2018-11-16 @ 08:46:25;,19422.0,Traffic: DISABLED VEHICLE -,2018-11-16 08:46:25,LOWER GWYNEDD,HOFFMAN,1

In [83]:
df_911.shape

(423909, 9)

In [84]:
df_911.dtypes

lat          float64
lng          float64
desc          object
zip          float64
title         object
timeStamp     object
twp           object
addr          object
e              int64
dtype: object

In [88]:
100*df_911.isnull().sum()/df_911.shape[0]

lat           0.000000
lng           0.000000
desc          0.000000
zip          12.297215
title         0.000000
timeStamp     0.000000
twp           0.037508
addr          0.000000
e             0.000000
dtype: float64

#### 1. Find the Top 1 zipcodes and townships (twp) for 911 calls?

In [275]:
df_911.groupby(['zip','twp'])['zip'].max()

zip      twp
3366.0   TRAPPE              3366.0
7203.0   UPPER DUBLIN        7203.0
8033.0   LOWER MERION        8033.0
8065.0   NEW HANOVER         8065.0
8361.0   LOWER SALFORD       8361.0
                             ...
19607.0  WHITPAIN           19607.0
21701.0  UPPER FREDERICK    21701.0
23005.0  UPPER MERION       23005.0
36107.0  MONTGOMERY         36107.0
77316.0  MONTGOMERY         77316.0
Name: zip, Length: 732, dtype: float64

#### 2. There are EMS, Fire, and TrafficMake you need to separate column to create a new column called "Reason" and understand our data more?

In [93]:
df_911['reason'] = df_911['title'].apply(lambda x : x.split(':')[0])

In [94]:
df_911['reason'].head()

0     EMS
1     EMS
2    Fire
3     EMS
4     EMS
Name: reason, dtype: object

#### 3. What are the most common Reason for a 911 call ?

In [91]:
df_911['title'].value_counts()

Traffic: VEHICLE ACCIDENT -    98401
Traffic: DISABLED VEHICLE -    31871
Fire: FIRE ALARM               24380
EMS: FALL VICTIM               21253
EMS: RESPIRATORY EMERGENCY     21158
                               ...
EMS: VEHICLE LEAKING FUEL          1
Fire: POISONING                    1
Fire: DIABETIC EMERGENCY           1
EMS: PUBLIC SERVICE                1
Fire: UNCONSCIOUS SUBJECT          1
Name: title, Length: 141, dtype: int64

#### 4.Change the timeStamp from strings to DateTime objects and also grab specific attributes(For example: Hour, Month and Day of the Week) from a Datetime object.

In [96]:
df_911['timeStamp'] = pd.to_datetime(df_911['timeStamp'])

In [98]:
df_911['timeStamp'].head()

0   2015-12-10 17:10:52
1   2015-12-10 17:29:21
2   2015-12-10 14:39:21
3   2015-12-10 16:47:36
4   2015-12-10 16:56:52
Name: timeStamp, dtype: datetime64[ns]

#### 5. Restructure the dataframe so that the columns become the Hours and the Index becomes the Day of the Week?

In [106]:
from datetime import date

In [105]:
df_911['Hours'] = df_911['timeStamp'].apply(lambda x : x.split())

AttributeError: 'Timestamp' object has no attribute 'split'

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">3. Read the dataset(GlobalTemperatures.csv) and Answer below questions?
    
    
   1. Set the date column as a DateTimeIndex and sort it?
   2. Resample annually and rename index & columns?
   3. Calculate the global baseline temperature?
   4. Create the new "temperature anomaly" column (['AnnualAverageTemp'] - global_ref_temp)?
   5. Drop the "AnnualAverageTemp" because you created new column name "Temperature Anomaly"?

In [132]:
temp = pd.read_csv('GlobalTemperatures.csv')

In [133]:
temp.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
temp.tail()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [148]:
temp.dtypes

dt                                                   object
LandAverageTemperature                              float64
LandAverageTemperatureUncertainty                   float64
LandMaxTemperature                                  float64
LandMaxTemperatureUncertainty                       float64
LandMinTemperature                                  float64
LandMinTemperatureUncertainty                       float64
LandAndOceanAverageTemperature                      float64
LandAndOceanAverageTemperatureUncertainty           float64
DateTimeIndex                                datetime64[ns]
year                                                 object
dtype: object

In [144]:
100*temp.isnull().sum()/temp.shape[0]

dt                                            0.000000
LandAverageTemperature                        0.375940
LandAverageTemperatureUncertainty             0.375940
LandMaxTemperature                           37.593985
LandMaxTemperatureUncertainty                37.593985
LandMinTemperature                           37.593985
LandMinTemperatureUncertainty                37.593985
LandAndOceanAverageTemperature               37.593985
LandAndOceanAverageTemperatureUncertainty    37.593985
DateTimeIndex                                 0.000000
year                                          0.000000
dtype: float64

#### 1. Set the date column as a DateTimeIndex and sort it?

In [135]:
temp['DateTimeIndex'] = pd.DatetimeIndex(temp['dt'])

In [136]:
temp['DateTimeIndex'].head()

0   1750-01-01
1   1750-02-01
2   1750-03-01
3   1750-04-01
4   1750-05-01
Name: DateTimeIndex, dtype: datetime64[ns]

#### 2. Write a code to convert from yyyy-mm-dd to yyyy?

In [140]:
temp['year'] = temp['dt'].apply(lambda x : x.split('-')[0])

In [141]:
temp['year'].head()

0    1750
1    1750
2    1750
3    1750
4    1750
Name: year, dtype: object

#### 3.Calculate the global baseline temperature on (1951 to 1980)

In [150]:
temp['year'] = temp['year'].astype(int)

In [153]:
temp_1951_1980 = temp[(temp['year'] >= 1952) & (temp['year'] <= 1980)]

In [156]:
global_ref_temp = temp_1951_1980['LandAndOceanAverageTemperature'].sum ()/temp_1951_1980.shape[0]

In [159]:
global_ref_temp = round(global_ref_temp,2)
global_ref_temp

15.3

#### 4. Create the new "temperature anomaly" column (['AnnualAverageTemp'] - global_ref_temp)?

In [160]:
temp['temperature_anomaly'] = temp['LandAndOceanAverageTemperature'] - global_ref_temp

#### 5. Drop the "AnnualAverageTemp" becuse you created new column name "Temperature Anomaly"?

In [161]:
temp.drop('LandAndOceanAverageTemperature', axis = 1, inplace = True)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">4. Read the dataset(Ecommerce_Purchases.csv) and Answer below questions?
    
   1. What were the highest and lowest purchase prices?
   2. How many people have English 'en' as their Language of choice on the website?
   3. How many people have the job title of "Lawyer" ?
   4. How many people made the purchase during the AM and how many people made the purchase during PM ?
   5. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [162]:
ecomm = pd.read_csv('Ecommerce_Purchases.csv')

In [163]:
ecomm.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [164]:
ecomm.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

In [165]:
ecomm.shape

(10000, 14)

In [168]:
100*ecomm.isnull().sum()/ecomm.shape[0]

Address             0.0
Lot                 0.0
AM_or_PM            0.0
Browser_Info        0.0
Company             0.0
Credit_Card         0.0
CC_Exp_Date         0.0
CC_Security_Code    0.0
CC_Provider         0.0
Email               0.0
Job                 0.0
IP_Address          0.0
Language            0.0
Purchase_Price      0.0
dtype: float64

#### 1. What were the highest and lowest purchase prices?

In [171]:
print('Highest purchase price is -- ',ecomm['Purchase_Price'].max())

Highest purchase price is --  99.99

In [172]:
print('Lowest purchase price is -- ',ecomm['Purchase_Price'].min())

Lowest purchase price is --  0.0

#### 2. How many people have English 'en' as their Language of choice on the website?

In [174]:
(ecomm['Language'] == 'en').sum()

1098

#### 3. How many people have the job title of "Lawyer" ?

In [176]:
(ecomm['Job'] == 'Lawyer').sum()

30

#### 4. How many people made the purchase during the AM and how many people made the purchase during PM ?

In [177]:
(ecomm['AM_or_PM'] == 'AM').sum()

4932

In [179]:
(ecomm['AM_or_PM'] == 'PM').sum()

5068

#### 5. Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [183]:
ecomm[ecomm['Lot'] == '90 WT']['Purchase_Price']

513    75.1
Name: Purchase_Price, dtype: float64

-----------

#  2 Questions X  10 Marks = 20 Marks

-------------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">1. Read the dataset(YOUTUBE.csv) and Answer below questions?
    
   1. Find out the top 5 categories with maximum number of videos uploaded and also find out the top 10 rated videos ?
   
   2. Find out the 10 most viewed videos and also find the top 5 which video having the most of comments and count?

In [185]:
youtube = pd.read_csv("youtube.csv", names = ['v_id', 'v_uploader', 'v_interval', 'v_category', 'v_length', 'views_count', 'v_rating', 'no_ratings_given', 'comments_count', 'v_ids_related','v_ids_related_1','v_ids_related_2','v_ids_related_3','v_ids_related_4','v_ids_related_5','v_ids_related_6','v_ids_related_7','v_ids_related_8','v_ids_related_9','v_ids_related_10','v_ids_related_11','v_ids_related_12','v_ids_related_13','v_ids_related_14'], delimiter = '\t', header = None)
youtube.head()

,v_id,v_uploader,v_interval,v_category,v_length,views_count,v_rating,no_ratings_given,comments_count,v_ids_related,...,v_ids_related_5,v_ids_related_6,v_ids_related_7,v_ids_related_8,v_ids_related_9,v_ids_related_10,v_ids_related_11,v_ids_related_12,v_ids_related_13,v_ids_related_14
0,QuRYeRnAuXM,EvilSquirrelPictures,1135.0,Pets & Animals,252.0,1075.0,4.96,46.0,86.0,gFa1YMEJFag,...,UEvVksP91kg,ZTopArY7Nbg,0RViGi2Rne8,HT_QlOJbDpg,YZev1imoxX8,8qQrrfUTmh0,zQ83d_D2MGs,u6_DQQjLsAw,73Wz9CQFDtE,NaN
1,3TYqkBJ9YRk,hggh22,1135.0,Comedy,169.0,228.0,5.00,5.0,3.0,QuRYeRnAuXM,...,sVkuOk4jmCo,ZTopArY7Nbg,HT_QlOJbDpg,0RViGi2Rne8,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs,1GKaVzNDbuI
2,rSJ8QZWBegU,TimeGem,1135.0,Entertainment,95.0,356.0,4.31,13.0,1.0,QuRYeRnAuXM,...,sVkuOk4jmCo,ZTopArY7Nbg,gBcu22Vv1nY,HT_QlOJbDpg,0RViGi2Rne8,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs
3,nRcovJn9xHg,wooochacha,1135.0,Entertainment,118.0,1115.0,2.23,57.0,73.0,QuRYeRnAuXM,...,gBcu22Vv1nY,HT_QlOJbDpg,0RViGi2Rne8,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs,1GKaVzNDbuI,yuZhwV24PmM
4,UEvVksP91kg,johnx113,1135.0,Entertainment,83.0,281.0,2.67,9.0,16.0,gFa1YMEJFag,...,nRcovJn9xHg,sVkuOk4jmCo,ZTopArY7Nbg,HT_QlOJbDpg,0RViGi2Rne8,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs,1GKaVzNDbuI

In [186]:
youtube.tail()

,v_id,v_uploader,v_interval,v_category,v_length,views_count,v_rating,no_ratings_given,comments_count,v_ids_related,...,v_ids_related_5,v_ids_related_6,v_ids_related_7,v_ids_related_8,v_ids_related_9,v_ids_related_10,v_ids_related_11,v_ids_related_12,v_ids_related_13,v_ids_related_14
4095,esCvu46qDaA,RSMFD,863.0,Entertainment,63.0,116929.0,4.84,182.0,222.0,8t4m5JM5r6Y,...,tJGDW674hVo,TecLbWk8A3w,3Yb5YTEVlEo,e4yx1s-l6f8,yB62b8S3Ra4,2GHiAEeFQs0,pxcDZ9AohLM,G8OlUZEnyOA,M80K51DosFo,NaN
4096,kOZ8bRAO7YQ,RockstarGames,0.0,UNA,63.0,199361.0,4.79,1256.0,2410.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4097,GSsVZcKHues,GTASite,1024.0,Entertainment,123.0,486752.0,4.86,1098.0,1764.0,TecLbWk8A3w,...,PHLmbD_dLh4,bhLbFGVduTA,zwp3HEwA1oM,XjR5e2W8n8E,ka8xZhlMvps,pP3oC2pf_EU,YDgd4V0ILNw,q3qdBVDZrmE,hKSk1bW9qzw,NaN
4098,foKRqJGcbPQ,scrambledeggsTV,1100.0,Entertainment,136.0,13115.0,4.45,33.0,37.0,LzI9VyIjpDI,...,hKSk1bW9qzw,WWdESkWpKvI,2GHiAEeFQs0,GSsVZcKHues,q3qdBVDZrmE,IbEW4N3DmI0,odXW0Uaj8aU,z84ko4Xzn40,Qjj_uMubxP0,vOskZNJJII8
4099,-CYhSNHbeC8,rehab07,771.0,Entertainment,186.0,103556.0,4.30,277.0,220.0,wtVeF5bT6YQ,...,47EWHY3E5AM,uWIXSr5H_SI,cRqUsvTsbho,TecLbWk8A3w,yB62b8S3Ra4,27q5bD9e_ew,F5m4wyZxLq4,0n1plrwQwrk,GZ_ct8ad-dY,buHrlMJu2Ss

In [190]:
youtube.columns

Index(['v_id', 'v_uploader', 'v_interval', 'v_category', 'v_length',
       'views_count', 'v_rating', 'no_ratings_given', 'comments_count',
       'v_ids_related', 'v_ids_related_1', 'v_ids_related_2',
       'v_ids_related_3', 'v_ids_related_4', 'v_ids_related_5',
       'v_ids_related_6', 'v_ids_related_7', 'v_ids_related_8',
       'v_ids_related_9', 'v_ids_related_10', 'v_ids_related_11',
       'v_ids_related_12', 'v_ids_related_13', 'v_ids_related_14'],
      dtype='object')

In [188]:
100*youtube.isnull().sum()/youtube.shape[0]

v_id                 0.000000
v_uploader           0.829268
v_interval           0.829268
v_category           0.829268
v_length             0.829268
views_count          0.829268
v_rating             0.829268
no_ratings_given     0.829268
comments_count       0.829268
v_ids_related       21.000000
v_ids_related_1     21.000000
v_ids_related_2     21.024390
v_ids_related_3     21.024390
v_ids_related_4     21.024390
v_ids_related_5     21.317073
v_ids_related_6     21.536585
v_ids_related_7     21.536585
v_ids_related_8     22.317073
v_ids_related_9     22.317073
v_ids_related_10    22.317073
v_ids_related_11    22.317073
v_ids_related_12    22.439024
v_ids_related_13    22.439024
v_ids_related_14    36.390244
dtype: float64

In [189]:
youtube.shape

(4100, 24)

#### 1. Find out the top 5 categories with maximum number of videos uploaded and also find out the top 10 rated videos ?

In [200]:
df_cat = youtube['v_category'].value_counts().to_frame()
df_cat.iloc[0:5]

                 v_category
Entertainment           908
Music                   862
Comedy                  414
People & Blogs          398
News & Politics         333

In [220]:
df_top_10_rating = youtube.sort_values(by='v_rating',ascending=False).head(10)
df_top_10_rating

,v_id,v_uploader,v_interval,v_category,v_length,views_count,v_rating,no_ratings_given,comments_count,v_ids_related,...,v_ids_related_5,v_ids_related_6,v_ids_related_7,v_ids_related_8,v_ids_related_9,v_ids_related_10,v_ids_related_11,v_ids_related_12,v_ids_related_13,v_ids_related_14
1440,7McDe1sdPlU,RemixedKingz,1022.0,Music,157.0,1537.0,5.0,4.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3123,Uc-OWFYNry8,athletic46,1076.0,Sports,55.0,235.0,5.0,2.0,1.0,-a9eKUhqhgk,...,Td0NfZX4SsA,PjYr2cMmHvE,WgMQmiKSebw,HmQST6o8Bhk,UI4lVy_Qx6Q,LNuuye0mxGo,YhWZ7bpfQag,tV2hjks8phU,h7xlAKPakYY,5icOFd7fgy4
3086,_sBRIaZWpXE,theevang1,1112.0,People & Blogs,234.0,192.0,5.0,3.0,0.0,u4LpiT6FuHM,...,P4RdY6IDgUU,Dx7mvlI4W0c,NqfWG7_pSC0,yaquejpiwmo,LzrFXw-IXjA,JnY8pLz8Oew,6lSLgFC23IQ,CWurjlqnOp0,YoS3lDGMxiE,k6IcgReoVyI
3085,hB92X7DIzvc,theevang1,1115.0,Film & Animation,70.0,1407.0,5.0,9.0,14.0,qanNijlM2t8,...,XeqK7iAopcU,YoS3lDGMxiE,kXwpj-m4jx0,u4LpiT6FuHM,nvFj0TDBylc,HZt6GXe89qY,6XkRSocij2I,WIj3xuwjstI,HykclHKdWhk,4odzrZHgsKI
3084,cvd-OyHm9lE,theevang1,1107.0,Music,512.0,1445.0,5.0,11.0,1.0,xlA5ILetYTY,...,6ssfB-TKXmE,9u3V-WKw_SU,6lSLgFC23IQ,OVrqKQ54_hI,wNhoInckKDs,3o1SSuWyUuc,yEYD9AALgys,UfQ2Zq_HEno,kSfMBPlIrlo,HZt6GXe89qY
3083,TE8fKitNOKs,theevang1,1121.0,People & Blogs,299.0,1044.0,5.0,3.0,11.0,fJPNSzA2alk,...,e9uhMiqVjrU,Drx5EDQIzBU,dj0GQ2HSXu4,6pGP3CkFQYs,FFHmY6FwKcw,NvjHvhSxKeI,4J8dUamIK5g,Q2UyvcyZF6k,QYgReBMZKuo,-wYcBJiOe7I
3082,4odzrZHgsKI,theevang1,1121.0,People & Blogs,219.0,509.0,5.0,4.0,1.0,IVsdOeUFce4,...,kXwpj-m4jx0,u4LpiT6FuHM,xMsTn2Dw9fQ,olbbgBO7g2Y,Dx7mvlI4W0c,cj2bG8KGEmU,cvd-OyHm9lE,O0nYg9kR4TE,JnY8pLz8Oew,NaN
528,rxdvasZiZ2A,Astroranagun,1128.0,Science & Technology,199.0,76.0,5.0,1.0,1.0,Ce4panNehRY,...,AJoYvgF6sTI,xvMasa9gfEc,PC08rDzU4Lk,s1lUOziI2XE,A0xj9ss_Ubk,0mzhy8VVbzM,lcB8CKa73B0,b9J3WLTOq0g,U_qYb9VCOdg,VyNp2yMWV4I
529,7Rgz8doVQXg,usethistocomment,1087.0,Howto & Style,64.0,244.0,5.0,1.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3081,OVrqKQ54_hI,theevang1,1107.0,People & Blogs,358.0,612.0,5.0,2.0,0.0,O0nYg9kR4TE,...,mV5x7zv2o1E,Hd8iS_BYTKQ,0EPbRfu_Ztk,CWurjlqnOp0,jmUNkvuKHbo,hNKtdYSCuNk,l_DBorMF5gQ,NqfWG7_pSC0,0BFZgBmBsqM,4d2QxEnjrrY

#### 2. Find out the 10 most viewed videos and also find the top 5 which video having the most of comments and count?

In [221]:
df_top_10_views = youtube.sort_values(by='views_count',ascending=False).head(10)
df_top_10_views

,v_id,v_uploader,v_interval,v_category,v_length,views_count,v_rating,no_ratings_given,comments_count,v_ids_related,...,v_ids_related_5,v_ids_related_6,v_ids_related_7,v_ids_related_8,v_ids_related_9,v_ids_related_10,v_ids_related_11,v_ids_related_12,v_ids_related_13,v_ids_related_14
1109,12Z3J1uzd0Q,kaejane,404.0,Film & Animation,615.0,65341925.0,3.03,9189.0,5508.0,innfyQZHPpo,...,5P6UU6m3cqk,uBHsOTYO6AI,lW19DnWz6vg,vr3x_RRJdd4,5GE82tqcYYQ,D2kJZOfq7zk,lsO6D1rwrKc,dMH0bHeiRNg,kNLXjXxj3J8,vQbYvjmfbr4
3880,4DC4Rb9quKk,ChrisBrownTV,933.0,Music,265.0,33754615.0,4.84,73257.0,50036.0,OqumjziPTzk,...,xaYiv-mDOwo,Oy-nqyfR_w4,a1fZHmIggc8,-hXKRilPNpc,R_C4aWwznNQ,mpxw0iCP4q4,gY-zTUCxgD0,A2f3cuUXXRs,FxTMfsRQIng,ktUSIJEiOug
3690,LU8DDYz68kM,Jason275,807.0,Pets & Animals,503.0,27721690.0,4.88,58850.0,24004.0,VryQDsx5Ad8,...,1a4-jwXejc0,h1FivamFXms,LB4iy0Hsc3Y,2cyu7tUEgs4,sDYxC2r3ttw,fI1RH1VhlYI,trQP5TtG_SY,YOE4RzS7JPY,3ZUzsKxeXcs,SWWTpkX-d4Y
1053,kHmvkRoEowc,itschriscrocker,937.0,Entertainment,131.0,18235463.0,2.42,122129.0,259683.0,h863nXDqCM0,...,O6Bqf23u-40,g0VRkCF2a80,VVcmHcHIsYc,wYBI_0qGwXg,hoKlMpCW0Vc,244qR7SvvX0,uEE3akeFeQU,aiqkDm9UoKo,Yd1Oe1LELcc,NaN
3876,Md6rURKhZmA,TPainVideos,857.0,Music,240.0,18141492.0,4.83,34802.0,17731.0,Oy-nqyfR_w4,...,8hvEsCUj0xQ,A2f3cuUXXRs,D9g2szHsoz0,IG5ReXP0SSg,ichSb-1HSiY,7PxBGHjABnU,HS7aULdHo24,veYbj2zypaM,5f7kfhHHH_A,HiBcQeIax4g
1128,EwTZ2xpQwpA,TayZonday,796.0,Music,292.0,16841569.0,4.23,83514.0,129200.0,2x2W12A8Qow,...,hjD6iigdB-g,caIBKOztlAo,xUz2YMmiq0k,aWY3eYOX3U0,mD5_GUovjiM,1oFS-q8BIps,deXAEN70CDY,0pElTyjfxe0,eyDuGwlrFRs,m6SjPfc_xNA
3886,A2f3cuUXXRs,RKellyTV,751.0,Music,326.0,13038204.0,4.80,18910.0,11315.0,Md6rURKhZmA,...,kEUtFmx6ETE,-cZeF1sG0h8,veYbj2zypaM,8hvEsCUj0xQ,EJWfQ6ISA4o,ZLTgw5hbges,gXmG07kMMmU,y0_G0m5W1nY,yhTQ-hC9-IQ,Ywlm-LPftOY
2547,rZBA0SKmQy8,TownIdiot25,848.0,Comedy,130.0,11007201.0,4.83,75004.0,30666.0,YXZjh0Cejvc,...,4xPOXSfPQGE,EtOoQFa5ug8,02tVq5OKVkQ,WGooQ8yYC0c,q6jqbx7t64A,DpJyG7B6tAI,jkyhqE_VOEE,kDIm7zyXRKM,_1nzEFMjkI4,NaN
969,irp8CNj9qBI,Frozentoast,215.0,Music,349.0,10172172.0,4.90,43774.0,29330.0,cxbFLYa0_bw,...,hMenB9Ywh2Q,MMz-wi50ACU,C7FGPIRJx6I,EVYgRPfC9nQ,7GFpMb0sOaw,veTm1sZz2eo,pZ9jrBg4Lwc,NCo1OVNbYFQ,IOyEw9bT8yQ,CO9UN6hfCS4
4063,ZCYaw5tGYAs,nozzle49,529.0,Comedy,80.0,8944331.0,4.86,16551.0,6938.0,58CZcCvwND4,...,7tRWRSfcDuQ,CoiFGva_JoY,8NvZTOWrpNQ,n9nvFmfDUTs,wKMnausIyzM,uxZabf3u89s,LEEI2LlLyyw,FzRH3iTQPrk,kdeVpw9rNyg,_xDghiPswLM

In [222]:
df_top_10_comments = youtube.sort_values(by='comments_count',ascending=False).head(10)
df_top_10_comments

,v_id,v_uploader,v_interval,v_category,v_length,views_count,v_rating,no_ratings_given,comments_count,v_ids_related,...,v_ids_related_5,v_ids_related_6,v_ids_related_7,v_ids_related_8,v_ids_related_9,v_ids_related_10,v_ids_related_11,v_ids_related_12,v_ids_related_13,v_ids_related_14
1053,kHmvkRoEowc,itschriscrocker,937.0,Entertainment,131.0,18235463.0,2.42,122129.0,259683.0,h863nXDqCM0,...,O6Bqf23u-40,g0VRkCF2a80,VVcmHcHIsYc,wYBI_0qGwXg,hoKlMpCW0Vc,244qR7SvvX0,uEE3akeFeQU,aiqkDm9UoKo,Yd1Oe1LELcc,NaN
1128,EwTZ2xpQwpA,TayZonday,796.0,Music,292.0,16841569.0,4.23,83514.0,129200.0,2x2W12A8Qow,...,hjD6iigdB-g,caIBKOztlAo,xUz2YMmiq0k,aWY3eYOX3U0,mD5_GUovjiM,1oFS-q8BIps,deXAEN70CDY,0pElTyjfxe0,eyDuGwlrFRs,m6SjPfc_xNA
3880,4DC4Rb9quKk,ChrisBrownTV,933.0,Music,265.0,33754615.0,4.84,73257.0,50036.0,OqumjziPTzk,...,xaYiv-mDOwo,Oy-nqyfR_w4,a1fZHmIggc8,-hXKRilPNpc,R_C4aWwznNQ,mpxw0iCP4q4,gY-zTUCxgD0,A2f3cuUXXRs,FxTMfsRQIng,ktUSIJEiOug
1763,Qit3ALTelOo,smpfilms,932.0,Pets & Animals,210.0,7939352.0,4.76,56767.0,39418.0,DpA2tMrQ4RU,...,UDJNuypavq8,dQqingUyRWg,CjUTnQKrFgQ,lIK5Gn5HbnU,RoBKq_RRoCM,Kxa0mnDj0bs,Zi9GOvR3Ynw,Luxgpavp6V0,UOY0cXOq3a8,hAYhfDSbWIY
474,UW_1CvDFYVg,mileymandy,1124.0,Comedy,135.0,721641.0,4.11,5776.0,33543.0,2h_K6rMaXxI,...,1h6QJkNhuOI,jWUVtoamdOY,OhGEO9XDmis,h_rS2vRfZio,2fzX92p2czw,1NPFWILwT6M,DRtWcVJckvw,j53GNUY-9QI,bO9wKrlAfP8,NaN
2547,rZBA0SKmQy8,TownIdiot25,848.0,Comedy,130.0,11007201.0,4.83,75004.0,30666.0,YXZjh0Cejvc,...,4xPOXSfPQGE,EtOoQFa5ug8,02tVq5OKVkQ,WGooQ8yYC0c,q6jqbx7t64A,DpJyG7B6tAI,jkyhqE_VOEE,kDIm7zyXRKM,_1nzEFMjkI4,NaN
870,GfPJeDssBOM,HouseholdHacker,998.0,Howto & Style,205.0,6101232.0,4.47,22030.0,29786.0,8m8fbnShPcw,...,3IYoxyKJhHM,B8H29jU8Wrs,z3U0udLH974,BfGSeD_fumQ,-zdCjrL_Joo,TlPoyX1umaA,qmRv9FLDBmE,F_nw_mQF6RE,WlQXCICVB9A,-3ulgATwtzY
969,irp8CNj9qBI,Frozentoast,215.0,Music,349.0,10172172.0,4.90,43774.0,29330.0,cxbFLYa0_bw,...,hMenB9Ywh2Q,MMz-wi50ACU,C7FGPIRJx6I,EVYgRPfC9nQ,7GFpMb0sOaw,veTm1sZz2eo,pZ9jrBg4Lwc,NCo1OVNbYFQ,IOyEw9bT8yQ,CO9UN6hfCS4
34,eBGIQ7ZuuiU,YouGotRickRolled,832.0,Comedy,210.0,8119804.0,4.64,23256.0,29160.0,oHg5SJYRHA0,...,eqQRN5OWgBw,_0719DxMOUY,b1WWpKEPdT4,3HrSN7176XI,kDIm7zyXRKM,PIMrL4qXtJ0,f2b1D5w82yU,EwTZ2xpQwpA,NIyWxCTWQoM,NaN
538,LTxO_pgMqys,machinima,969.0,Entertainment,407.0,3731016.0,4.82,35352.0,26192.0,0RWQ7R555i4,...,OJWBmuioqJU,kb8rdc-0OpQ,ym0BtwmCvoc,2pNTrYd-4FQ,uCsdPszJLNQ,ncGCKsVIjuE,A7LQ7i7tzRE,jfx8kcS0KiU,zwp3HEwA1oM,9Vi45QBGsWE

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">2. Read data set(2017.csv)
    
    
1. Find the top 10 most generous countries and find top 10 countries with trust in government?
   
2A). Find top 10 Countries in Family Satisfaction and also find top 10 Countries with Best Economy?
  
2B). Find top 10 Most Freedom Oriented Countries and also Find top 10 Happiest Countries?

In [223]:
df_2017 = pd.read_csv('2017.csv')

In [224]:
df_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [225]:
df_2017.tail()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [226]:
df_2017.shape

(155, 12)

In [230]:
df_2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')


#### 1. Find the top 10 most generous countries and find top 10 countries with trust in government?

In [229]:
df_top_10_generous = df_2017.sort_values(by='Generosity',ascending=False).head(10)
df_top_10_generous

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
113,Myanmar,114,4.545,4.614740,4.475260,0.367111,1.123236,0.397523,0.514492,0.838075,0.188816,1.115290
80,Indonesia,81,5.262,5.352889,5.171112,0.995539,1.274445,0.492346,0.443323,0.611705,0.015317,1.429477
26,Malta,27,6.527,6.598397,6.455603,1.343280,1.488412,0.821944,0.588767,0.574731,0.153066,1.556863
31,Thailand,32,6.424,6.509117,6.338883,1.127869,1.425792,0.647239,0.580201,0.572123,0.031613,2.039508
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
18,United Kingdom,19,6.714,6.783792,6.644209,1.441634,1.496460,0.805336,0.508190,0.492774,0.265428,1.704144
119,Sri Lanka,120,4.440,4.553447,4.326553,1.009850,1.259976,0.625131,0.561213,0.490864,0.073654,0.419389
144,Haiti,145,3.603,3.734715,3.471285,0.368610,0.640450,0.277321,0.030370,0.489204,0.099872,1.697168
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211

In [231]:
df_top_10_trust = df_2017.sort_values(by='Trust..Government.Corruption.',ascending=False).head(10)
df_top_10_trust

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
34,Qatar,35,6.375,6.568477,6.181523,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
20,United Arab Emirates,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
17,Luxembourg,18,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512

#### 2A). Find top 10 Countries in Family Satisfaction and also find top 10 Countries with Best Economy?

In [232]:
df_top_10_trust = df_2017.sort_values(by='Family',ascending=False).head(10)
df_top_10_trust

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
46,Uzbekistan,47,5.971,6.065538,5.876463,0.786441,1.548969,0.498273,0.658249,0.415984,0.246528,1.816914
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
33,Spain,34,6.403,6.471055,6.334945,1.384398,1.532091,0.888961,0.408781,0.190134,0.070914,1.927758
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
9,Australia,10,7.284,7.356651,7.211349,1.484415,1.510042,0.843887,0.601607,0.477699,0.301184,2.065211

In [236]:
df_top_10_trust = df_2017.sort_values(by='Economy..GDP.per.Capita.',ascending=False).head(10)
df_top_10_trust

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
34,Qatar,35,6.375,6.568477,6.181523,1.870766,1.274297,0.710098,0.604131,0.330474,0.439299,1.145464
17,Luxembourg,18,6.863,6.923686,6.802314,1.741944,1.457584,0.845089,0.596628,0.283181,0.318834,1.619512
25,Singapore,26,6.572,6.636723,6.507277,1.692278,1.353814,0.949492,0.549841,0.345966,0.464308,1.216362
38,Kuwait,39,6.105,6.191957,6.018043,1.632952,1.259699,0.632106,0.496338,0.228290,0.215160,1.640425
20,United Arab Emirates,21,6.648,6.722047,6.573952,1.626343,1.266410,0.726798,0.608345,0.360942,0.324490,1.734704
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
70,"Hong Kong S.A.R., China",71,5.472,5.549594,5.394406,1.551675,1.262791,0.943062,0.490969,0.374466,0.293934,0.554633
13,United States,14,6.993,7.074657,6.911343,1.546259,1.419921,0.774287,0.505741,0.392579,0.135639,2.218113
14,Ireland,15,6.977,7.043352,6.910649,1.535707,1.558231,0.809783,0.573110,0.427858,0.298388,1.773869

#### 2B). Find top 10 Most Freedom Oriented Countries and also Find top 10 Happiest Countries?

In [233]:
df_top_10_freedom = df_2017.sort_values(by='Freedom',ascending=False).head(10)
df_top_10_freedom

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
46,Uzbekistan,47,5.971,6.065538,5.876463,0.786441,1.548969,0.498273,0.658249,0.415984,0.246528,1.816914
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
128,Cambodia,129,4.168,4.278518,4.057483,0.601765,1.006238,0.429783,0.633376,0.385923,0.068106,1.042941
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
7,New Zealand,8,7.314,7.379510,7.248490,1.405706,1.548195,0.816760,0.614062,0.500005,0.382817,2.046456
8,Sweden,9,7.284,7.344095,7.223905,1.494387,1.478162,0.830875,0.612924,0.385399,0.384399,2.097538
6,Canada,7,7.316,7.384403,7.247597,1.479204,1.481349,0.834558,0.611101,0.435540,0.287372,2.187264

In [235]:
df_top_10_happiness = df_2017.sort_values(by='Happiness.Rank',ascending=False).head(10)
df_top_10_happiness

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
149,Togo,150,3.495,3.594038,3.395962,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
148,Guinea,149,3.507,3.584428,3.429572,0.244550,0.791245,0.194129,0.348588,0.264815,0.110938,1.552312
147,Liberia,148,3.533,3.653756,3.412244,0.119042,0.872118,0.229918,0.332881,0.266550,0.038948,1.673286
146,South Sudan,147,3.591,3.725539,3.456462,0.397249,0.601323,0.163486,0.147062,0.285671,0.116794,1.879567
145,Yemen,146,3.593,3.692750,3.493250,0.591683,0.935382,0.310081,0.249464,0.104125,0.056767,1.345601

--------

#  2 Questions X  15 Marks = 30 Marks

-----------

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;">1. Read the datasets
- `airport-codes.csv` - this file contains metadata for all aiports in the world.
- `us_air_transport_stats.csv` - this file contains the stats like number of passengers, amount of freight etc. for each airport origin and destination and each airline carrier.

### Problem statement

**Exercise:1** You have to create a table that compares the number of passengers flown by each major airline out of each large airports in the US. Our final table should have one row for each airport, and one column for each carrier. We will eventually limit the number of columns by selecting only the large carriers.(Hint: Joins and pivot tables)
        
       

**Exercise:2** Find the passenger count and freight load for each route among the large airports in the US.


**Exercise:3**Find the busiest routes for passengers and freights in the US.

In [2]:
airport_codes = pd.read_csv('airport-codes.csv')

In [3]:
airport_stats = pd.read_csv('us_air_transport_stats.csv')

In [4]:
airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [5]:
airport_stats.head()

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,CARRIER,CARRIER_NAME,ORIGIN_AIRPORT_ID,ORIGIN,DEST_AIRPORT_ID,DEST,YEAR,MONTH
0,0,0,0,156,0MQ,21253.0,0MQ,"Multi-Aero, Inc. d/b/a Air Choice One",13930.0,ORD,11288.0,DEC,2018,9
1,0,0,0,110,0MQ,21253.0,0MQ,"Multi-Aero, Inc. d/b/a Air Choice One",15016.0,STL,11288.0,DEC,2018,9
2,0,0,0,949,0WQ,21352.0,0WQ,Avjet Corporation,10279.0,AMA,10800.0,BUR,2018,9
3,0,0,0,725,0WQ,21352.0,0WQ,Avjet Corporation,10372.0,ASE,10800.0,BUR,2018,9
4,0,0,0,18,0WQ,21352.0,0WQ,Avjet Corporation,10800.0,BUR,12892.0,LAX,2018,9

In [6]:
airport_codes.shape

(54736, 12)

In [7]:
airport_stats.shape

(249170, 14)

In [8]:
airport_stats.columns

Index(['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'CARRIER', 'CARRIER_NAME', 'ORIGIN_AIRPORT_ID', 'ORIGIN',
       'DEST_AIRPORT_ID', 'DEST', 'YEAR', 'MONTH'],
      dtype='object')

In [9]:
airport_codes.columns

Index(['ident', 'type', 'name', 'elevation_ft', 'continent', 'iso_country',
       'iso_region', 'municipality', 'gps_code', 'iata_code', 'local_code',
       'coordinates'],
      dtype='object')

In [10]:
airport_codes['type'].unique()

array(['heliport', 'small_airport', 'closed', 'seaplane_base',
       'balloonport', 'medium_airport', 'large_airport'], dtype=object)

In [34]:
new_airport_codes = airport_codes[(airport_codes['type'] == 'large_airport')\
                                  & (airport_codes['iso_country'] == 'US') ]

In [35]:
new_airport_codes.drop(columns = ['iso_country', 'type','iso_region','ident','iata_code','local_code','coordinates'],
                       axis = 1, inplace = True)

In [36]:
new_airport_codes

,name,elevation_ft,continent,municipality,gps_code
25914,Albuquerque International Sunport,5355.0,NaN,Albuquerque,KABQ
25933,Andrews Air Force Base,280.0,NaN,Camp Springs,KADW
25946,Fort Worth Alliance Airport,722.0,NaN,Fort Worth,KAFW
25950,Augusta Regional At Bush Field,144.0,NaN,Augusta,KAGS
25983,Rick Husband Amarillo International Airport,3607.0,NaN,Amarillo,KAMA
26035,Hartsfield Jackson Atlanta International Airport,1026.0,NaN,Atlanta,KATL
26044,Austin Bergstrom International Airport,542.0,NaN,Austin,KAUS
26048,Asheville Regional Airport,2165.0,NaN,Asheville,KAVL
26072,Beale Air Force Base,113.0,NaN,Marysville,KBAB
26073,Barksdale Air Force Base,166.0,NaN,Bossier City,KBAD
26090,Bradley International Airport,173.0,NaN,Hartford,KBDL
26105,Boeing Field King County International Airport,21.0,NaN,Seattle,KBFI
26115,Bangor International Airport,192.0,NaN,Bangor,KBGR
26119,Birmingham-Shuttlesworth International Airport,650.0,NaN,Birmingham,KBHM
26125,Billings Logan International Airport,3652.0,NaN,Billings,KBIL
26147,Scott AFB/Midamerica Airport,459.0,NaN,Belleville,KBLV
26151,Central Illinois Regional Airport at Bloomingt...,871.0,NaN,Bloomington/Normal,KBMI
26155,Nashville International Airport,599.0,NaN,Nashville,KBNA
26160,Boise Air Terminal/Gowen Field,2871.0,NaN,Boise,KBOI
26161,General Edward Lawrence Logan International Ai...,20.0,NaN,Boston,KBOS
26186,Buffalo Niagara International Airport,728.0,NaN,Buffalo,KBUF
26200,Baltimore/Washington International Thurgood Ma...,146.0,NaN,Baltimore,KBWI
26239,Columbia Metropolitan Airport,236.0,NaN,Columbia,KCAE
26249,Columbus Air Force Base,219.0,NaN,Columbus,KCBM
26287,Lovell Field,683.0,NaN,Chattanooga,KCHA
26294,Charleston Air Force Base-International Airport,46.0,NaN,Charleston,KCHS
26298,The Eastern Iowa Airport,869.0,NaN,Cedar Rapids,KCID
26315,Cleveland Hopkins International Airport,791.0,NaN,Cleveland,KCLE
26322,Charlotte Douglas International Airport,748.0,NaN,Charlotte,KCLT
26325,John Glenn Columbus International Airport,815.0,NaN,Columbus,KCMH
26354,Casper-Natrona County International Airport,5350.0,NaN,Casper,KCPR
26367,Corpus Christi International Airport,44.0,NaN,Corpus Christi,KCRP
26371,Yeager Airport,981.0,NaN,Charleston,KCRW
26390,Cincinnati Northern Kentucky International Air...,896.0,NaN,Cincinnati,KCVG
26394,Cannon Air Force Base,4295.0,NaN,Clovis,KCVS
26447,Daytona Beach International Airport,34.0,NaN,Daytona Beach,KDAB
26450,Dallas Love Field,487.0,NaN,Dallas,KDAL
26453,James M Cox Dayton International Airport,1009.0,NaN,Dayton,KDAY
26455,Dubuque Regional Airport,1077.0,NaN,Dubuque,KDBQ
26456,Ronald Reagan Washington National Airport,15.0,NaN,Washington,KDCA
26465,Denver International Airport,5431.0,NaN,Denver,KDEN
26470,Dallas Fort Worth International Airport,607.0,NaN,Dallas-Fort Worth,KDFW
26482,Laughlin Air Force Base,1082.0,NaN,Del Rio,KDLF
26483,Duluth International Airport,1428.0,NaN,Duluth,KDLH
26497,Dover Air Force Base,24.0,NaN,Dover,KDOV
26511,Des Moines International Airport,958.0,NaN,Des Moines,KDSM
26518,Detroit Metropolitan Wayne County Airport,645.0,NaN,Detroit,KDTW
26543,Dyess Air Force Base,1789.0,NaN,Abilene,KDYS
26911,Edwards Air Force Base,2312.0,NaN,Edwards,KEDW
26955,Vance Air Force Base,1307.0,NaN,Enid,KEND
26967,Erie International Tom Ridge Field,732.0,NaN,Erie,KERI
26992,Newark Liberty International Airport,18.0,NaN,Newark,KEWR
27079,Wright-Patterson Air Force Base,823.0,NaN,Dayton,KFFO
27095,Fort Lauderdale Hollywood International Airport,9.0,NaN,Fort Lauderdale,KFLL
27130,Fort Smith Regional Airport,469.0,NaN,Fort Smith,KFSM
27138,Fort Worth Meacham International Airport,710.0,NaN,Fort Worth,KFTW
27143,Fort Wayne International Airport,814.0,NaN,Fort Wayne,KFWA
27223,Spokane International Airport,2376.0,NaN,Spokane,KGEG
27270,Gulfport Biloxi International Airport,28.0,NaN,Gulfport,KGPT
27273,Austin Straubel International Airport,695.0,NaN,Green Bay,KGRB
27282,Seymour Johnson Air Force Base,109.0,NaN,Goldsboro,KGSB
27284,Piedmont Triad International Airport,925.0,NaN,Greensboro,KGSO
27285,Greenville Spartanburg International Airport,964.0,NaN,Greenville,KGSP
27295,Grissom Air Reserve Base,812.0,NaN,Peru,KGUS
27372,Range Regional Airport,1354.0,NaN,Hibbing,KHIB
27392,Holloman Air Force Base,4093.0,NaN,Alamogordo,KHMN
27406,William P Hobby Airport,46.0,NaN,Houston,KHOU
27430,Huntsville International Carl T Jones Field,629.0,NaN,Huntsville,KHSV
27434,Tri-State/Milton J. Ferguson Field,828.0,NaN,Huntington,KHTS
27500,Washington Dulles International Airport,312.0,NaN,Washington,KIAD
27502,George Bush Intercontinental Houston Airport,97.0,NaN,Houston,KIAH
27507,Wichita Eisenhower National Airport,1333.0,NaN,Wichita,KICT
27537,Indianapolis International Airport,797.0,NaN,Indianapolis,KIND
27574,Jackson-Medgar Wiley Evers International Airport,346.0,NaN,Jackson,KJAN
27577,Jacksonville International Airport,30.0,NaN,Jacksonville,KJAX
27585,John F Kennedy International Airport,13.0,NaN,New York,KJFK
27593,Joplin Regional Airport,981.0,NaN,Joplin,KJLN
27699,McCarran International Airport,2181.0,NaN,Las Vegas,KLAS
27701,Los Angeles International Airport,125.0,NaN,Los Angeles,KLAX
27702,Lubbock Preston Smith International Airport,3282.0,NaN,Lubbock,KLBB
27713,Rickenbacker International Airport,744.0,NaN,Columbus,KLCK
27721,Blue Grass Airport,979.0,NaN,Lexington,KLEX
27722,Langley Air Force Base,11.0,NaN,Hampton,KLFI
27724,Lafayette Regional Airport,42.0,NaN,Lafayette,KLFT
27725,La Guardia Airport,21.0,NaN,New York,KLGA
27740,Bill & Hillary Clinton National Airport/Adams ...,262.0,NaN,Little Rock,KLIT
27786,Altus Air Force Base,1382.0,NaN,Altus,KLTS
27789,Luke Air Force Base,1085.0,NaN,Glendale,KLUF
27896,MBS International Airport,668.0,NaN,Saginaw,KMBS
27903,Mac Dill Air Force Base,14.0,NaN,Tampa,KMCF
27904,Kansas City International Airport,1026.0,NaN,Kansas City,KMCI
27907,Orlando International Airport,96.0,NaN,Orlando,KMCO
27918,Chicago Midway International Airport,620.0,NaN,Chicago,KMDW
27923,Memphis International Airport,341.0,NaN,Memphis,KMEM
27935,Dobbins Air Reserve Base,1068.0,NaN,Marietta,KMGE
27938,Montgomery Regional (Dannelly Field) Airport,221.0,NaN,Montgomery,KMGM
27950,Miami International Airport,8.0,NaN,Miami,KMIA
27963,General Mitchell International Airport,723.0,NaN,Milwaukee,KMKE
27978,Quad City International Airport,590.0,NaN,Moline,KMLI
27983,Monroe Regional Airport,79.0,NaN,Monroe,KMLU
28004,Mobile Regional Airport,219.0,NaN,Mobile,KMOB
28035,Dane County Regional Truax Field,887.0,NaN,Madison,KMSN
28037,Minneapolis-St Paul International/Wold-Chamber...,841.0,NaN,Minneapolis,KMSP
28040,Louis Armstrong New Orleans International Airport,4.0,NaN,New Orleans,KMSY
28053,Mountain Home Air Force Base,2996.0,NaN,Mountain Home,KMUO
28228,Metropolitan Oakland International Airport,9.0,NaN,Oakland,KOAK
28256,Will Rogers World Airport,1295.0,NaN,Oklahoma City,KOKC
28275,Eppley Airfield,984.0,NaN,Omaha,KOMA
28284,Ontario International Airport,944.0,NaN,Ontario,KONT
28298,Chicago O'Hare International Airport,672.0,NaN,Chicago,KORD
28300,Norfolk International Airport,26.0,NaN,Norfolk,KORF
28443,Tyndall Air Force Base,17.0,NaN,Panama City,KPAM
28450,Palm Beach International Airport,19.0,NaN,West Palm Beach,KPBI
28460,Portland International Airport,31.0,NaN,Portland,KPDX
28474,Newport News Williamsburg International Airport,42.0,NaN,Newport News,KPHF
28478,Philadelphia International Airport,36.0,NaN,Philadelphia,KPHL
28482,Phoenix Sky Harbor International Airport,1135.0,NaN,Phoenix,KPHX
28483,General Wayne A. Downing Peoria International ...,660.0,NaN,Peoria,KPIA
28490,Pittsburgh International Airport,1203.0,NaN,Pittsburgh,KPIT
28579,Portland International Jetport Airport,76.0,NaN,Portland,KPWM
29668,Raleigh Durham International Airport,435.0,NaN,Raleigh/Durham,KRDU
29672,Chicago Rockford International Airport,742.0,NaN,Chicago/Rockford,KRFD
29679,Richmond International Airport,167.0,NaN,Richmond,KRIC
29702,Randolph Air Force Base,761.0,NaN,Universal City,KRND
29705,Reno Tahoe International Airport,4415.0,NaN,Reno,KRNO
29709,Roanoke–Blacksburg Regional Airport,1175.0,NaN,Roanoke,KROA
29710,Greater Rochester International Airport,559.0,NaN,Rochester,KROC
29728,Rochester International Airport,1317.0,NaN,Rochester,KRST
29730,Southwest Florida International Airport,30.0,NaN,Fort Myers,KRSW
29804,San Diego International Airport,17.0,NaN,San Diego,KSAN
29806,San Antonio International Airport,809.0,NaN,San Antonio,KSAT
29807,Savannah Hilton Head International Airport,50.0,NaN,Savannah,KSAV
29813,South Bend Regional Airport,799.0,NaN,South Bend,KSBN
29827,Louisville International Standiford Field,501.0,NaN,Louisville,KSDF
29831,Seattle Tacoma International Airport,433.0,NaN,Seattle,KSEA
29841,Orlando Sanford International Airport,55.0,NaN,Orlando,KSFB
29844,San Francisco International Airport,13.0,NaN,San Francisco,KSFO
29849,Springfield Branson National Airport,1268.0,NaN,Springfield,KSGF
29865,Norman Y. Mineta San Jose International Airport,62.0,NaN,San Jose,KSJC
29869,Fairchild Air Force Base,2461.0,NaN,Spokane,KSKA
29875,Salt Lake City International Airport,4227.0,NaN,Salt Lake City,KSLC
29887,Sacramento International Airport,27.0,NaN,Sacramento,KSMF
29893,John Wayne Airport-Orange County Airport,56.0,NaN,Santa Ana,KSNA
29910,Abraham Lincoln Capital Airport,598.0,NaN,Springfield,KSPI
29911,Sheppard Air Force Base-Wichita Falls Municipa...,1019.0,NaN,Wichita Falls,KSPS
29920,Sarasota Bradenton International Airport,30.0,NaN,Sarasota/Bradenton,KSRQ
29922,Shaw Air Force Base,241.0,NaN,Sumter,KSSC
29932,St Louis Lambert International Airport,618.0,NaN,St Louis,KSTL
29940,Spirit of St Louis Airport,463.0,NaN,St Louis,KSUS
29942,Travis Air Force Base,62.0,NaN,Fairfield,KSUU
29944,Sioux Gateway Col. Bud Day Field,1098.0,NaN,Sioux City,KSUX
29958,Syracuse Hancock International Airport,421.0,NaN,Syracuse,KSYR
29960,Whiteman Air Force Base,870.0,NaN,Knob Noster,KSZL
30010,McChord Air Force Base,322.0,NaN,Tacoma,KTCM
30029,Tinker Air Force Base,1291.0,NaN,Oklahoma City,KTIK
30039,Tallahassee Regional Airport,81.0,NaN,Tallahassee,KTLH
30053,Toledo Express Airport,683.0,NaN,Toledo,KTOL
30056,Tampa International Airport,26.0,NaN,Tampa,KTPA
30063,Tri-Cities Regional TN/VA Airport,1519.0,NaN,Bristol/Johnson/Kingsport,KTRI
30075,Tulsa International Airport,677.0,NaN,Tulsa,KTUL
30077,Tucson International Airport,2643.0,NaN,Tucson,KTUS
30093,McGhee Tyson Airport,981.0,NaN,Knoxville,KTYS
30174,Vandenberg Air Force Base,369.0,NaN,Lompoc,KVBG
30202,Destin-Ft Walton Beach Airport,87.0,NaN,Valparaiso,KVPS
30252,Robins Air Force Base,294.0,NaN,Warner Robins,KWRB
38041,Fairbanks International Airport,439.0,NaN,Fairbanks,PAFA
38116,Ted Stevens Anchorage International Airport,152.0,NaN,Anchorage,PANC
38541,Daniel K Inouye International Airport,13.0,NaN,Honolulu,PHNL
49087,atl,NaN,NaN,NaN,NaN
49667,JFK,NaN,NaN,New York,NaN

In [12]:
new_airport_codes['name'].nunique()

170

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#16850c;">Exercise:1  You have to create a table that compares the number of passengers flown by each major airline out of each large airports in the US. Our final table should have one row for each airport, and one column for each carrier. We will eventually limit the number of columns by selecting only the large carriers.

In [24]:
airport_stats.pivot_table(index='CARRIER_NAME').reset_index()

,CARRIER_NAME,AIRLINE_ID,DEST_AIRPORT_ID,DISTANCE,FREIGHT,MAIL,MONTH,ORIGIN_AIRPORT_ID,PASSENGERS,YEAR
0,40-Mile Air,20342.0,12955.666667,116.509259,5.031389e+02,122.805556,5.638889,13075.750000,5.046296,2018
1,ABX Air Inc,20453.0,12389.578145,889.468869,7.061499e+05,0.000000,6.390089,12410.843710,0.000000,2018
2,"ADVANCED AIR, LLC",21894.0,13206.697034,361.627119,0.000000e+00,0.000000,7.870763,13226.453390,20.500000,2018
3,Aerodynamics Inc. d/b/a SkyValue d/b/a SkyValu...,20354.0,12488.169444,508.988889,3.238889e+00,0.000000,4.369444,12485.847222,198.855556,2018
4,"Air Charter, Inc d/b/a Air Flamenco",21615.0,13957.653631,49.430168,5.605408e+03,5085.832402,6.826816,13858.307263,32.536313,2018
5,Air Excursions LLC,21386.0,12236.000000,37.394737,8.045237e+03,4062.052632,5.842105,12264.368421,221.605263,2018
6,Air Sunshine Inc.,19650.0,15025.882353,58.823529,0.000000e+00,0.000000,7.352941,14979.823529,62.558824,2018
7,Air Transport International,19874.0,12655.197037,1232.696296,9.139932e+05,0.000000,6.644444,12690.949630,0.072593,2018
8,Air Wisconsin Airlines Corp,20046.0,12974.400773,404.952320,4.865120e+00,0.627577,6.546821,13010.930842,1654.188574,2018
9,Alaska Airlines Inc.,19930.0,13238.008165,1386.746071,2.387778e+04,9655.860380,6.705042,13248.120841,6434.830169,2018
10,Alaska Central Express,20341.0,12053.138780,379.449803,1.016238e+04,11401.778543,6.644685,11997.278543,5.143701,2018
11,Allegiant Air,20368.0,13007.672612,893.890095,0.000000e+00,0.000000,6.599158,13012.585974,1528.861400,2018
12,Aloha Air Cargo,21634.0,12806.978261,141.581522,3.501953e+05,157345.326087,6.184783,12759.673913,0.000000,2018
13,American Airlines Inc.,19805.0,12790.196438,1139.041874,2.491541e+04,20786.181385,6.358423,12793.910951,12670.123397,2018
14,Amerijet International,20151.0,13389.829787,1173.500000,4.347304e+05,0.000000,6.186170,13340.000000,0.000000,2018
15,Ameristar Air Cargo,20201.0,12866.240763,774.007151,1.484487e+03,0.000000,5.741359,12893.134684,7.343266,2018
16,Asia Pacific,20177.0,12544.378788,2584.621212,6.505373e+04,67836.696970,7.712121,12575.727273,0.000000,2018
17,Atlas Air Inc.,20007.0,12531.950778,1148.685318,7.824936e+05,0.000000,7.158603,12511.856963,6.397981,2018
18,Avjet Corporation,21352.0,12829.020290,922.432850,0.000000e+00,0.000000,5.408696,12797.088889,3.259903,2018
19,Bemidji Airlines,20257.0,11658.826087,133.898551,6.357174e+03,0.000000,6.275362,11577.608696,0.000000,2018
20,Bering Air Inc.,20331.0,13675.684764,108.458144,6.630560e+02,2292.768126,6.607356,13760.838179,30.998949,2018
21,"Bidzy Ta Hot Aana, Inc. d/b/a Tanana Air Service",20322.0,12365.069079,61.486842,3.486908e+02,3320.388158,6.296053,12305.305921,18.605263,2018
22,Boutique Air,21599.0,12229.785484,228.864516,0.000000e+00,0.000000,6.451613,12229.785484,278.159677,2018
23,CFM Inc d/b/a Contour Airlines d/b/a One Jet S...,21635.0,12967.364662,525.640075,7.071797e-01,0.000000,6.240732,12969.912594,55.114031,2018
24,Cape Air,20253.0,12647.125370,118.705824,0.000000e+00,796.275420,6.367226,12691.254689,518.407700,2018
25,"Caribbean Sun Airlines, Inc. d/b/a World Atlan...",20310.0,12443.203457,813.828457,0.000000e+00,0.000000,6.098404,12528.425532,12.264628,2018
26,City Wings Inc dba Seaflight,21614.0,15025.500000,45.000000,0.000000e+00,0.000000,6.500000,15025.500000,915.833333,2018
27,"Commutair Aka Champlain Enterprises, Inc.",20445.0,12424.280220,411.880220,0.000000e+00,0.000000,7.162088,12433.594505,1017.429121,2018
28,Compass Airlines,21167.0,13658.600156,642.139517,3.141076e-01,8.067810,6.555729,13661.346064,4514.888542,2018
29,"Corvus Airlines, Inc d/b/a Era Aviation d/b/a ...",20327.0,12523.843784,412.079541,3.878035e+03,650.782874,6.617341,11347.390541,145.943389,2018
30,Delta Air Lines Inc.,19790.0,12593.410871,1013.729239,1.986330e+04,15329.648911,6.507793,12611.583624,9820.843917,2018
31,Delux Public Charter LLC,21718.0,12705.550633,306.455696,0.000000e+00,0.000000,5.006329,12680.968354,818.088608,2018
32,"Eastern Airlines f/k/a Dynamic Airways, LLC",21492.0,13259.633663,673.613861,1.228713e+01,0.000000,7.504950,13228.217822,35.653465,2018
33,Elite Airways LLC,21712.0,13527.629630,914.506173,0.000000e+00,0.000000,6.753086,13526.561728,233.907407,2018
34,Ellis Air Taxi Inc.,20261.0,12746.500000,102.000000,7.458333e+01,1013.479167,6.500000,12746.500000,6.791667,2018
35,Empire Airlines Inc.,20263.0,12760.647303,122.975934,4.328632e+04,0.000000,6.261411,12774.050622,160.328631,2018
36,Endeavor Air Inc.,20363.0,12312.939235,538.751893,2.245582e+00,0.007032,6.487198,12310.119726,2313.179409,2018
37,Envoy Air,20398.0,12643.789274,505.612568,1.784325e+02,1.455273,6.638783,12659.168701,2491.653192,2018
38,ExpressJet Airlines Inc.,20366.0,12407.403268,506.711496,3.685993e-02,0.000000,6.013947,12398.012552,1678.727635,2018
39,Federal Express Corporation,20107.0,12729.933370,553.906626,1.102353e+06,63.126874,6.616139,12687.427078,0.000000,2018
40,Friday Harbor Seaplanes,20289.0,13167.000000,80.000000,0.000000e+00,0.000000,7.500000,13167.000000,272.416667,2018
41,Frontier Airlines Inc.,20436.0,12891.980574,1120.102059,0.000000e+00,0.000000,6.876776,12872.411859,2706.379675,2018
42,Frontier Flying Service,20320.0,12485.500000,164.181818,7.066818e+02,4521.090909,1.000000,11456.045455,0.000000,2018
43,Gem Air LLC,21636.0,12805.000000,158.000000,1.720833e+01,0.000000,6.500000,12805.000000,18.375000,2018
44,GoJet Airlines LLC d/b/a United Express,20500.0,12613.933019,550.224840,0.000000e+00,0.000000,6.443958,12610.393470,1665.522720,2018
45,"Grand Canyon Airlines, Inc. d/b/a Grand Canyon...",20424.0,12097.008130,91.505376,0.000000e+00,0.000000,7.005376,12233.430894,586.959677,2018
46,Grand Canyon Helicopters,20267.0,10011.000000,59.000000,0.000000e+00,0.000000,6.090909,10661.000000,0.000000,2018
47,Grant Aviation,20455.0,12518.316467,74.652230,4.613872e+02,2930.116638,6.734563,12475.969125,48.069039,2018
48,Great Lakes Airlines,20358.0,13280.033898,333.203390,0.000000e+00,0.000000,2.084746,13271.101695,123.830508,2018
49,Gulf And Caribbean Cargo,20166.0,13264.065502,1003.358079,1.695045e+04,0.000000,7.358079,12908.013100,0.000000,2018
50,Hageland Aviation Service,20336.0,12719.158183,136.861133,5.471775e+02,3677.114069,6.398982,12636.361133,31.835552,2018
51,Harris Air Services,21029.0,13540.769912,68.185841,2.481593e+02,0.000000,5.902655,13493.663717,33.473451,2018
52,Hawaiian Airlines Inc.,19690.0,13244.037037,1932.037037,2.039151e+05,2288.453704,6.801587,13239.519841,13640.010582,2018
53,"Hillwood Airways, LLC f/k/a ATX Air Service...",21875.0,11527.212121,1381.969697,2.841758e+03,0.000000,6.212121,11338.090909,12.454545,2018
54,Horizon Air,19687.0,13590.114010,527.852524,2.206144e+03,597.838911,6.305729,13589.393080,3708.436756,2018
55,Iliamna Air Taxi,20346.0,12376.762667,141.928000,6.318760e+02,518.464000,6.785333,12325.040000,17.922667,2018
56,Island Air Service,20443.0,11456.195448,50.742972,9.175395e+02,357.942436,6.831325,11389.172691,24.190094,2018
57,"J&M Alaska Air Tours, Inc. d/b/a Alaska Air Tr...",21673.0,13958.689655,107.482759,9.187241e+02,631.137931,5.793103,13956.344828,15.620690,2018
58,"Jet Aviation Flight Services, Inc.",21652.0,13350.238175,883.661188,0.000000e+00,0.000000,5.442469,13393.352231,3.732640,2018
59,JetBlue Airways,20409.0,12563.242474,1109.493694,0.000000e+00,0.000000,6.529902,12582.450773,6909.196501,2018
60,"KaiserAir, Inc.",21518.0,13204.829457,1237.465116,0.000000e+00,0.000000,6.472868,13176.813953,98.612403,2018
61,Kalinin Aviation LLC d/b/a Alaska Seaplanes,20337.0,12792.519520,69.484985,3.735083e+03,2300.418919,6.669670,12824.597598,101.816817,2018
62,Kalitta Air LLC,20370.0,12203.229299,1481.299363,8.924926e+05,37898.485669,7.200637,12311.355096,0.000000,2018
63,Kalitta Charters II,20372.0,13217.880303,880.975758,8.633143e+04,0.000000,6.680303,13064.859091,0.000000,2018
64,Katmai Air,20224.0,12401.583333,114.708333,5.188458e+03,0.000000,7.250000,12390.937500,359.812500,2018
65,Kenmore Air Harbor,20272.0,12387.244949,54.474747,1.594773e+02,0.000000,6.431818,12423.078283,108.005051,2018
66,Key Lime Air Corporation,21879.0,13475.617647,254.764706,0.000000e+00,0.000000,6.691176,13730.352941,612.250000,2018
67,Lynden Air Cargo Airlines,20169.0,12074.942308,409.762019,9.072004e+04,35521.581731,7.206731,12253.411058,0.000000,2018
68,Makani Kai Air Charters,21613.0,12934.500000,35.000000,0.000000e+00,0.000000,3.000000,12934.500000,218.700000,2018
69,"Maritime Helicopters, Inc.",21909.0,12859.240816,105.706122,1.166800e+03,0.000000,6.053061,12832.938776,17.665306,2018
70,Menagerie Enterprises Inc d/b/a Monarch Air,21653.0,11721.666667,198.400000,0.000000e+00,0.000000,3.833333,11721.666667,0.000000,2018
71,Mesa Airlines Inc.,20378.0,12494.379010,612.821189,6.284855e+01,27.706043,6.560557,12498.765979,3200.685402,2018
72,Miami Air International,20402.0,12829.186163,750.196148,0.000000e+00,0.000000,6.253923,12866.490014,45.052068,2018
73,"Mokulele Flight Services, Inc.",21242.0,12912.790262,75.760300,0.000000e+00,0.000000,5.908240,12968.552434,484.406367,2018
74,"Multi-Aero, Inc. d/b/a Air Choice One",21253.0,12928.186747,204.222892,0.000000e+00,0.000000,6.421687,13004.933735,237.234940,2018
75,National Air Cargo Group Inc d/ba National Air...,20405.0,13073.906977,1102.406977,2.987247e+04,0.000000,8.697674,12714.860465,111.337209,2018
76,New England Airlines Inc.,20273.0,13234.000000,17.000000,1.744167e+03,0.000000,6.500000,13234.000000,1432.541667,2018
77,Northern Air Cargo Inc.,20108.0,11984.984825,454.690440,8.880106e+04,43490.561457,6.534143,11935.825493,0.000000,2018
78,Omni Air International LLC,20377.0,12307.736364,1651.881818,6.250395e+03,0.000000,7.490909,12240.736364,444.677273,2018
79,"PM Air, LLC",21022.0,13047.000000,70.000000,0.000000e+00,0.000000,6.500000,13047.000000,1145.666667,2018
80,PSA Airlines Inc.,20397.0,12153.103387,446.256320,5.102652e+02,71.287917,6.417341,12157.865268,3394.455763,2018
81,"Pacific Airways, Inc.",21111.0,14378.565657,42.329966,4.920370e+02,560.649832,6.558923,14481.181818,45.535354,2018
82,"Paklook Air, Inc d/b/a/ Airlift Alaska d/b/a/ ...",21820.0,12405.525529,52.465753,3.707472e+02,755.954545,6.023039,12335.887920,16.386675,2018
83,Peninsula Airways Inc.,20225.0,11812.414634,412.000000,1.246784e+03,6392.540070,5.867596,11800.480836,602.470383,2018
84,Piedmont Airlines,20427.0,12879.348105,299.659602,3.214759e+02,30.563905,6.387925,12888.777778,2237.347463,2018
85,Polar Air Cargo Airways,20100.0,12077.132701,1665.170616,2.018468e+06,0.000000,6.691943,11731.838863,0.000000,2018
86,"Polaris Aviation Solutions, LLC",21854.0,13489.937500,937.375000,0.000000e+00,0.000000,3.750000,13290.437500,4.125000,2018
87,"Prescott Support Company, Inc.",21402.0,13303.000000,0.000000,0.000000e+00,0.000000,1.000000,13303.000000,0.000000,2018
88,"Public Charters, Inc. d/b/a North Country Sky ...",21835.0,11292.000000,215.000000,0.000000e+00,0.000000,8.500000,11292.000000,18.000000,2018
89,"Rectrix Aviation, Inc.",21964.0,11726.424242,116.939394,2.042121e+02,0.000000,9.000000,11840.939394,337.969697,2018
90,"Reeve Air Alaska, LLC",21582.0,11658.000000,163.000000,7.683333e+01,0.000000,6.500000,11658.000000,16.375000,2018
91,Republic Airline,20452.0,12533.248797,632.989439,0.000000e+00,0.000000,6.525401,12535.974332,2352.081150,2018
92,Rhoades Aviation dba Transair,21577.0,12782.857143,144.520408,3.279840e+05,0.000000,6.510204,12800.612245,0.000000,2018
93,Ryan Air f/k/a Arctic Transportation,20330.0,12611.536041,97.223858,3.927352e+03,5060.223858,6.696447,12301.559391,1.024365,2018
94,Scott Air LLC dba Island Air Express,21594.0,13021.911565,115.918367,1.035551e+03,4466.571429,7.700680,12969.108844,175.190476,2018
95,"Seaborne Virgin Islands, Inc.",20280.0,14965.625000,62.500000,0.000000e+00,0.000000,6.500000,14965.625000,1412.604167,2018
96,Silver Airways,20401.0,13525.474394,236.967655,0.000000e+00,0.000000,6.805930,13527.719677,1198.388140,2018
97,Sky Lease Cargo,20195.0,13269.826531,1989.010204,3.018370e+05,0.000000,8.500000,13019.734694,0.000000,2018
98,SkyWest Airlines Inc.,20304.0,12882.217687,564.584279,0.000000e+00,0.000000,6.596742,12884.208850,2468.122197,2018
99,Smokey Bay Air Inc.,20319.0,13047.948187,24.316062,4.227979e+01,813.056995,6.601036,13061.590674,108.362694,2018
100,Southern Air Inc.,20190.0,12578.374429,1008.589041,4.447235e+05,0.000000,6.091324,12578.146119,0.000000,2018
101,Southwest Airlines Co.,19393.0,12854.005293,1166.646165,6.016273e+03,0.000000,6.522447,12848.988044,3759.196777,2018
102,Spernak Airways Inc.,20226.0,14608.680000,50.145000,4.023225e+03,238.120000,6.070000,14595.990000,30.765000,2018
103,Spirit Air Lines,20416.0,12578.547884,1123.281838,0.000000e+00,0.000000,6.619964,12578.351691,5328.845718,2018
104,Star Marianas Air Inc.,21570.0,14301.631769,68.357401,8.440509e+03,0.000000,6.592058,14193.122744,347.202166,2018
105,Sun Air Express LLC dba Sun Air International,21618.0,12303.041584,162.891089,0.000000e+00,0.000000,6.459406,12305.540594,188.982178,2018
106,Sun Country Airlines d/b/a MN Airlines,20422.0,12296.220256,1005.628205,5.684846e+02,1803.502821,6.824615,12266.362821,662.743077,2018
107,"Swift Air, LLC d/b/a Eastern Air Lines d/b/a E...",21161.0,12321.449537,691.628911,5.280542e+02,0.000000,3.432790,12303.635522,58.110181,2018
108,Tatonduk Outfitters Limited d/b/a Everts Air A...,20408.0,11947.785288,345.549702,2.492119e+04,33398.295229,6.755467,11888.461233,3.542744,2018
109,Tradewind Aviation,21080.0,12686.854156,257.590173,0.000000e+00,0.000000,6.900680,12668.943021,14.867224,2018
110,Trans Northern Airways d/b/a Air Unlimited Cha...,21764.0,13658.111111,257.111111,0.000000e+00,0.000000,4.370370,13179.518519,1.962963,2018
111,Trans States Airlines,20237.0,12496.099294,462.232732,0.000000e+00,0.000000,6.229199,12503.614207,1269.688776,2018
112,Tropic Ocean Airways LLC,21743.0,12439.838235,203.220588,1.052794e+02,0.000000,9.897059,12735.911765,3.852941,2018
113,USA Jet Airlines Inc.,20447.0,13548.186292,873.738137,8.204283e+03,0.000000,6.759227,13407.720562,0.000000,2018
114,Ultimate JetCharters LLC dba Ultimate Air Shuttle,21596.0,12749.500000,341.210526,0.000000e+00,0.000000,6.736842,12749.500000,490.508772,2018
115,United Air Lines Inc.,19977.0,12788.083486,1223.565311,2.114844e+04,17964.897020,6.716545,12817.354478,6871.217304,2018
116,United Parcel Service,19917.0,13308.813172,820.116704,1.134487e+06,47305.035659,6.779389,13319.846101,0.000000,2018
117,Venture Travel LLC d/b/a Taquan Air Service,20383.0,14137.193023,51.355814,1.272119e+03,1301.734884,6.709302,14208.186047,68.555814,2018
118,Via Airlines d/b/a Charter Air Transport,21477.0,12713.701897,468.566396,0.000000e+00,0.000000,6.677507,12636.850949,140.368564,2018
119,Vieques Air Link Inc.,20426.0,13723.833333,36.666667,1.231014e+03,0.000000,6.500000,13723.833333,485.013889,2018
120,Virgin America,21171.0,13316.561594,1849.797101,0.000000e+00,0.000000,2.028986,13276.909420,7263.224638,2018
121,Warbelow,20323.0,12376.939286,133.532143,7.466232e+02,410.225000,6.601786,12370.589286,42.123214,2018
122,Ward Air,20285.0,11999.000000,37.000000,1.344444e+01,18.361111,5.000000,11999.000000,0.861111,2018
123,Western Global,21629.0,13382.946809,1199.963830,6.300983e+05,0.000000,7.642553,13342.282979,0.000000,2018
124,Wright Air Service,20333.0,12319.535402,162.027844,1.863885e+03,1406.023866,6.485282,12212.512331,40.758950,2018
125,XTRA Airways,20207.0,12369.693380,540.945993,0.000000e+00,0.000000,2.714286,12346.493031,90.935540,2018

In [25]:
new_airport_codes.pivot_table(index='name').reset_index()

                                                  name  elevation_ft
0                      Abraham Lincoln Capital Airport         598.0
1                    Albuquerque International Sunport        5355.0
2                                 Altus Air Force Base        1382.0
3                               Andrews Air Force Base         280.0
4                           Asheville Regional Airport        2165.0
5                       Augusta Regional At Bush Field         144.0
6               Austin Bergstrom International Airport         542.0
7                Austin Straubel International Airport         695.0
8    Baltimore/Washington International Thurgood Ma...         146.0
9                         Bangor International Airport         192.0
10                            Barksdale Air Force Base         166.0
11                                Beale Air Force Base         113.0
12   Bill & Hillary Clinton National Airport/Adams ...         262.0
13                Billings Logan International Airport        3652.0
14      Birmingham-Shuttlesworth International Airport         650.0
15                                  Blue Grass Airport         979.0
16      Boeing Field King County International Airport          21.0
17                      Boise Air Terminal/Gowen Field        2871.0
18                       Bradley International Airport         173.0
19               Buffalo Niagara International Airport         728.0
20                               Cannon Air Force Base        4295.0
21         Casper-Natrona County International Airport        5350.0
22   Central Illinois Regional Airport at Bloomingt...         871.0
23     Charleston Air Force Base-International Airport          46.0
24             Charlotte Douglas International Airport         748.0
25                Chicago Midway International Airport         620.0
26                Chicago O'Hare International Airport         672.0
27              Chicago Rockford International Airport         742.0
28   Cincinnati Northern Kentucky International Air...         896.0
29             Cleveland Hopkins International Airport         791.0
30                       Columbia Metropolitan Airport         236.0
31                             Columbus Air Force Base         219.0
32                Corpus Christi International Airport          44.0
33             Dallas Fort Worth International Airport         607.0
34                                   Dallas Love Field         487.0
35                    Dane County Regional Truax Field         887.0
36               Daniel K Inouye International Airport          13.0
37                 Daytona Beach International Airport          34.0
38                        Denver International Airport        5431.0
39                    Des Moines International Airport         958.0
40                      Destin-Ft Walton Beach Airport          87.0
41           Detroit Metropolitan Wayne County Airport         645.0
42                            Dobbins Air Reserve Base        1068.0
43                                Dover Air Force Base          24.0
44                            Dubuque Regional Airport        1077.0
45                        Duluth International Airport        1428.0
46                                Dyess Air Force Base        1789.0
47                              Edwards Air Force Base        2312.0
48                                     Eppley Airfield         984.0
49                  Erie International Tom Ridge Field         732.0
50                     Fairbanks International Airport         439.0
51                            Fairchild Air Force Base        2461.0
52     Fort Lauderdale Hollywood International Airport           9.0
53                         Fort Smith Regional Airport         469.0
54                    Fort Wayne International Airport         814.0
55                         Fort Worth Alliance Airport         722.0
56            Fort Worth Meacham International Airport         710.0
57   General Edward Lawrence Logan International Ai...          20.0
58              General Mitchell International Airport         723.0
59   General Wayne A. Downing Peoria International ...         660.0
60        George Bush Intercontinental Houston Airport          97.0
61             Greater Rochester International Airport         559.0
62        Greenville Spartanburg International Airport         964.0
63                            Grissom Air Reserve Base         812.0
64               Gulfport Biloxi International Airport          28.0
65    Hartsfield Jackson Atlanta International Airport        1026.0
66                             Holloman Air Force Base        4093.0
67         Huntsville International Carl T Jones Field         629.0
68                  Indianapolis International Airport         797.0
69    Jackson-Medgar Wiley Evers International Airport         346.0
70                  Jacksonville International Airport          30.0
71            James M Cox Dayton International Airport        1009.0
72                John F Kennedy International Airport          13.0
73           John Glenn Columbus International Airport         815.0
74            John Wayne Airport-Orange County Airport          56.0
75                             Joplin Regional Airport         981.0
76                   Kansas City International Airport        1026.0
77                                  La Guardia Airport          21.0
78                          Lafayette Regional Airport          42.0
79                              Langley Air Force Base          11.0
80                             Laughlin Air Force Base        1082.0
81                   Los Angeles International Airport         125.0
82   Louis Armstrong New Orleans International Airport           4.0
83           Louisville International Standiford Field         501.0
84                                        Lovell Field         683.0
85         Lubbock Preston Smith International Airport        3282.0
86                                 Luke Air Force Base        1085.0
87                           MBS International Airport         668.0
88                             Mac Dill Air Force Base          14.0
89                      McCarran International Airport        2181.0
90                              McChord Air Force Base         322.0
91                                McGhee Tyson Airport         981.0
92                       Memphis International Airport         341.0
93          Metropolitan Oakland International Airport           9.0
94                         Miami International Airport           8.0
95   Minneapolis-St Paul International/Wold-Chamber...         841.0
96                             Mobile Regional Airport         219.0
97                             Monroe Regional Airport          79.0
98        Montgomery Regional (Dannelly Field) Airport         221.0
99                        Mountain Home Air Force Base        2996.0
100                    Nashville International Airport         599.0
101               Newark Liberty International Airport          18.0
102    Newport News Williamsburg International Airport          42.0
103                      Norfolk International Airport          26.0
104    Norman Y. Mineta San Jose International Airport          62.0
105                      Ontario International Airport         944.0
106                      Orlando International Airport          96.0
107              Orlando Sanford International Airport          55.0
108                   Palm Beach International Airport          19.0
109                 Philadelphia International Airport          36.0
110           Phoenix Sky Harbor International Airport        1135.0
111               Piedmont Triad International Airport         925.0
112                   Pittsburgh International Airport        1203.0
113                     Portland International Airport          31.0
114             Portland International Jetport Airport          76.0
115                    Quad City International Airport         590.0
116               Raleigh Durham International Airport         435.0
117                            Randolph Air Force Base         761.0
118                             Range Regional Airport        1354.0
119                   Reno Tahoe International Airport        4415.0
120                     Richmond International Airport         167.0
121        Rick Husband Amarillo International Airport        3607.0
122                 Rickenbacker International Airport         744.0
123                Roanoke–Blacksburg Regional Airport        1175.0
124                              Robins Air Force Base         294.0
125                    Rochester International Airport        1317.0
126          Ronald Reagan Washington National Airport          15.0
127                   Sacramento International Airport          27.0
128               Salt Lake City International Airport        4227.0
129                  San Antonio International Airport         809.0
130                    San Diego International Airport          17.0
131                San Francisco International Airport          13.0
132           Sarasota Bradenton International Airport          30.0
133         Savannah Hilton Head International Airport          50.0
134                       Scott AFB/Midamerica Airport         459.0
135               Seattle Tacoma International Airport         433.0
136                     Seymour Johnson Air Force Base         109.0
137                                Shaw Air Force Base         241.0
138  Sheppard Air Force Base-Wichita Falls Municipa...        1019.0
139                   Sioux Gateway Col. Bud Day Field        1098.0
140                        South Bend Regional Airport         799.0
141            Southwest Florida International Airport          30.0
142                         Spirit of St Louis Airport         463.0
143                      Spokane International Airport        2376.0
144               Springfield Branson National Airport        1268.0
145             St Louis Lambert International Airport         618.0
146             Syracuse Hancock International Airport         421.0
147                       Tallahassee Regional Airport          81.0
148                        Tampa International Airport          26.0
149        Ted Stevens Anchorage International Airport         152.0
150                           The Eastern Iowa Airport         869.0
151                              Tinker Air Force Base        1291.0
152                             Toledo Express Airport         683.0
153                              Travis Air Force Base          62.0
154                  Tri-Cities Regional TN/VA Airport        1519.0
155                 Tri-State/Milton J. Ferguson Field         828.0
156                       Tucson International Airport        2643.0
157                        Tulsa International Airport         677.0
158                             Tyndall Air Force Base          17.0
159                               Vance Air Force Base        1307.0
160                          Vandenberg Air Force Base         369.0
161            Washington Dulles International Airport         312.0
162                            Whiteman Air Force Base         870.0
163                Wichita Eisenhower National Airport        1333.0
164                          Will Rogers World Airport        1295.0
165                            William P Hobby Airport          46.0
166                    Wright-Patterson Air Force Base         823.0
167                                     Yeager Airport         981.0

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#16850c;">Exercise:2 Find the passenger count and freight load for each route among the large airports in the US.

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#16850c;">Exercise:3Find the busiest routes for passengers and freights in the US.

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#db0b49;"> 2. This data set contains information about 10,000 movies collected from The Movie Database (TMDb). Data set has a information like budget of movie production, revenue, original title,runtime,popularity and release_year.
    
   1. Drop four column 'homepage,keywords,budget_adj and revenue_adj'. And create a column name is "profit" using the budget and revenue column. And also find the top 10 most profitable and non profitable movies?
   
   2.  Which movie earn maximum and minimum profit?
    
   3. Which top 10 movies is Highest in budget and revenue ?

In [248]:
tmdb_movies = pd.read_csv('tmdb-movies.csv')

In [249]:
tmdb_movies.shape

(10866, 21)

In [250]:
tmdb_movies.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [252]:
100*tmdb_movies.isnull().sum()/tmdb_movies.shape[0]

id                       0.000000
imdb_id                  0.092030
popularity               0.000000
budget                   0.000000
revenue                  0.000000
original_title           0.000000
cast                     0.699429
homepage                72.979937
director                 0.404933
tagline                 25.989324
keywords                13.740107
overview                 0.036812
runtime                  0.000000
genres                   0.211669
production_companies     9.479109
release_date             0.000000
vote_count               0.000000
vote_average             0.000000
release_year             0.000000
budget_adj               0.000000
revenue_adj              0.000000
dtype: float64

In [253]:
tmdb_movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

####  1. Drop four column 'homepage,keywords,budget_adj and revenue_adj'. And create a column name is "profit" using the budget and revenue column. And also find the top 10 most profitable and non profitable movies?

In [254]:
tmdb_movies.drop(columns = ['homepage', 'keywords', 'budget_adj', 'revenue_adj'], inplace=True)

In [255]:
tmdb_movies.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

#### .Top 10 most profitable and non profitable movies?

In [256]:
tmdb_movies['profit'] = tmdb_movies['revenue'] - tmdb_movies['budget']

In [263]:
df_top_10_profitable_movies = tmdb_movies.sort_values(by='profit',ascending=False).head(10)
df_top_10_profitable_movies['original_title']

1386                                          Avatar
3                       Star Wars: The Force Awakens
5231                                         Titanic
0                                     Jurassic World
4                                          Furious 7
4361                                    The Avengers
3374    Harry Potter and the Deathly Hallows: Part 2
14                           Avengers: Age of Ultron
5422                                          Frozen
8094                                         The Net
Name: original_title, dtype: object

In [264]:
df_top_10_non_profitable_movies = tmdb_movies.sort_values(by='profit',ascending=True).head(10)
df_top_10_non_profitable_movies['original_title']

2244       The Warrior's Way
5508         The Lone Ranger
2069             The Wolfman
2214             The Pacific
7031               The Alamo
3484         Mars Needs Moms
2190          Double Wedding
1696    Dragonball Evolution
4970            Brother Bear
2435        The 13th Warrior
Name: original_title, dtype: object

#### 2). Which movie earn maximum and minimum profit and write your observation?

In [267]:
df_top_1_profitable_movies = tmdb_movies.sort_values(by='profit',ascending=False).head(1)
df_top_1_profitable_movies

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1386,19995,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/09,8458,7.1,2009,2544505847

In [271]:
df_top_1_non_profitable_movies = tmdb_movies.sort_values(by='profit',ascending=True).head(1)
df_top_1_non_profitable_movies

,id,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
2244,46528,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/10,74,6.4,2010,-413912431

### Observations

### Avatar is highest profitable and The Warrior's Way is least profitable. High profitable movies has high popularity and high revenue

#### 3. Which top 10 movies is Highest in budget and revenue ?

In [292]:
df_top_10_hghest_budjet_movies = tmdb_movies.sort_values(by=['budget','revenue'],ascending=False).head(10)
df_top_10_hghest_budjet_movies['original_title']

2244                              The Warrior's Way
3375    Pirates of the Caribbean: On Stranger Tides
7387       Pirates of the Caribbean: At World's End
14                          Avengers: Age of Ultron
6570                               Superman Returns
1929                                        Tangled
4411                                    John Carter
7394                                   Spider-Man 3
5508                                The Lone Ranger
4363                          The Dark Knight Rises
Name: original_title, dtype: object